@page "/estudiantes/nueva"
@page "/estudiantes/editar/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager _navigator;
@inject IRepositorioEstudiantes _repositorio;

<h2>@_mensaje Estudiante</h2>

@if (!string.IsNullOrEmpty(_mensajeAlerta))
{
    <div class="alert alert-danger">@_mensajeAlerta</div>
}

<EditForm Model="_estudiante" FormName="frmEstudiante" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="row mb-3">
        <label for="txtNombre" class="col-2 col-form-label">Nombre</label>
        <div>
            <InputText id="txtNombre" class="form-control" @bind-Value="_estudiante!.Nombre" />
            <ValidationMessage For="()=>_estudiante.Nombre"/>
        </div>  
    </div>
    <div class="row mb-3">
        <label for="txtNumeroDeCuenta" class="col-2 col-form-label">Número de cuenta</label>
        <div>
            <InputText id="txtNumeroDeCuenta" class="form-control" @bind-Value="_estudiante.NumeroDeCuenta" />
            <ValidationMessage For="()=>_estudiante.NumeroDeCuenta" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtCorreo" class="col-2 col-form-label">Correo</label>
        <div>
            <InputText id="txtCorreo" class="form-control" @bind-Value="_estudiante.Correo" />
            <ValidationMessage For="()=>_estudiante.Correo" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="txtMateria" class="col-2 col-form-label">Materia</label>
        <div class="col-sm-10">
            <InputSelect class="form-select" @bind-Value="_estudiante.MateriaId">
                <option value="0" disabled="disabled">Selecciona una materia</option>
                @foreach(var materia in _materia)
                {
                    <option value="@materia.Id">@materia.Nombre</option>
                }
            </InputSelect>
            <ValidationMessage For="()=>_estudiante.MateriaId" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary" >Guardar</button>
    <button class="btn btn-danger ms-2" @onclick="Cancelar" @onclick:preventDefault>Cancelar</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private string _mensaje = "";
    private Estudiante? _estudiante = new();
    private List<Materia> _materia = new();
    private string _mensajeAlerta = "";
    private string? _nCuentaOriginal;

    protected override async Task OnInitializedAsync()
    {
        _materia = await _repositorio.GetMateria();
        if (Id > 0)
        {
            _estudiante = await _repositorio.Get(Id);
            _nCuentaOriginal = _estudiante!.NumeroDeCuenta;
            _mensaje = "Modificar";
        }
        else
        {
            _mensaje = "Nuevo";
        }
    }

    private async void Guardar()
    {
        if (Id == 0 || (_nCuentaOriginal != null && _estudiante!.NumeroDeCuenta != _nCuentaOriginal))
        {
            if (await _repositorio.Existente(_estudiante!.NumeroDeCuenta!))
            {
                _mensajeAlerta = "El número de cuenta ya existe.";
                return;
            }
        }

        if (await _repositorio.CupoLimite(_estudiante!.MateriaId))
        {
            _mensajeAlerta = "El límite de lugares para la materia seleccionada ha sido alcanzado. Por favor seleccione otra materia.";
            return;
        }

        {
        if (Id > 0)
        {
           await _repositorio.Update(Id, _estudiante!);
        }
        else
        {
           await _repositorio.Add(_estudiante!);
        }
           Cancelar();
        }   
    }

    private void Cancelar()
    {
        _navigator.NavigateTo("/registroEstudiantes");
    }
}
